<!DOCTYPE html>
<html lang="en">
 <!--includding a head partial-->
 <%- include('./partials/head.ejs') %>
<body>
    <!--includding a nav partial-->
    <%- include('./partials/nav.ejs') %>   
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam obcaecati aperiam fugiat earum minus, assumenda sequi enim fuga fugit ducimus, aliquid totam harum! Qui minus distinctio totam libero itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam obcaecati aperiam fugiat earum minus, assumenda sequi enim fuga fugit ducimus, aliquid totam harum! Qui minus distinctio totam libero itaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quibusdam obcaecati aperiam fugiat earum minus, assumenda sequi enim fuga fugit ducimus, aliquid totam harum! Qui minus distinctio totam libero itaque.</p>
    </div>
     <!--includding a footer partial-->
     <%- include('./partials/footer.ejs') %>
</body>
</html>